@import './var.css';

.logo {
  border-radius: 50%;
}

.image-src {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  border-radius: 50%;
  will-change: filter;
  transition: all .3s;
}

.image-src:hover {
  /* filter: drop-shadow(0 0 2em #646cffaa); */
  filter: drop-shadow(0 0 2em #ea5514);
  transition: all .3s;
}
